.btn-default {
  border-radius: 8px;
  color: var(--dark-blue);
  background-color: var(--yellow);
  font-family: "Montserrat";
  font-weight: bold;
  padding: 0.8rem 2rem;
  font-size: 1.5rem;
}

.btn-default:hover {
  color: var(--white);
  background-color: var(--dark-blue);
}
