.btn-default {
  border-radius: 8px;
  color: var(--dark-blue);
  background-color: var(--yellow);
  font-weight: bold;
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
}

.btn-default:hover:not(:disabled) {
  color: var(--white);
  background-color: var(--dark-blue);
}
