.input {
  border-radius: 8px;
  border-width: 3px;
  padding: 0 1rem;
  height: calc(1.5em + 2rem + 2px);
}

.input.textarea {
  padding: 1rem;
}

.input:focus {
  border-color: var(--dark-blue);
  color: var(--dark-blue);
  font-weight: 600;
}
