@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700");

body {
  background-color: var(--blue);
  color: var(--white);
  font-family: "Montserrat", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

a,
a:hover,
.navbar-brand {
  text-decoration: none;
  color: var(--white);
}

.navbar {
  padding: 1.5rem 0;
}

.nav-link a {
  color: var(--grey);
}

.nav-link a[aria-current="page"] {
  color: var(--white);
}

.nav-link a:hover {
  color: var(--white);
  border-bottom: 2px solid var(--yellow);
  padding-bottom: 2px;
}

section,
footer {
  padding: 4rem 0;
}
footer {
  background-color: var(--blue);
}

/**
  Add custom CSS here
*/
section,
footer {
  padding: 4rem 0;
}
.page-not-found h1 {
  font-size: 300px;
  color: var(--yellow);
  margin-bottom: 0;
}

.page-not-found h2 {
  font-weight: 700;
  padding-bottom: 2rem;
}

.page-not-found .btn {
  font-weight: 700;
  color: var(--dark-blue);
  background-color: var(--yellow);
  border-color: var(--yellow);
  border-radius: 10px;
  margin-top: 1rem;
}

.page-not-found .btn:hover {
  font-weight: 700;
  color: var(--white);
  background-color: var(--darker-blue);
  border-color: var(--darker-blue);
}

h1 {
  font-weight: 600;
  margin-bottom: 4rem;
}

.hero h1 {
  font-size: 4rem;
}

.hero p {
  max-width: 35rem;
}

.hero-art {
  max-width: 100%;
}

.products {
  background-color: var(--dark-blue);
}

.products h1 {
  text-align: center;
}

.product-card {
  margin-bottom: 6rem;
}

.product-card .title {
  font-size: 1.4rem;
  font-weight: 600;
  padding-bottom: 0;
  margin-bottom: 0.4rem;
}

.product-card img {
  max-width: 100%;
}

.about-us,
.about-team {
  background-color: var(--darker-blue);
}

.about-us h3 {
  text-align: center;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .page-not-found h1 {
    font-size: 60px;
    color: var(--yellow);
    margin-bottom: 0;
  }

  .page-not-found h2 {
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 2rem;
  }

  .page-not-found h6 {
    font-size: 12px;
  }

  .page-not-found .btn {
    font-size: 13px;
  }
}
