@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700");

body {
  background-color: var(--blue);
  color: var(--white);

  font-family: "Montserrat", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

a,
a:hover,
.navbar-brand {
  text-decoration: none;
  color: var(--white);
}

.navbar {
  padding: 1.5rem 0;
}

.nav-link a {
  color: var(--grey);
}

.nav-link a[aria-current="page"] {
  color: var(--white);
}

.nav-link a:hover {
  color: var(--white);
  border-bottom: 2px solid var(--yellow);
  padding-bottom: 2px;
}

section,
footer {
  padding: 4rem 0;
}

h1 {
  font-weight: 600;
}

.hero h1 {
  font-size: 4rem;
}

.hero p {
  max-width: 35rem;
}

.products {
  background-color: var(--dark-blue);
}

.about-us,
.about-team {
  background-color: var(--darker-blue);
}
