@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700");

body {
  background-color: var(--blue);
  color: var(--white);
  font-family: "Montserrat", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

a,
a:hover,
.navbar-brand {
  text-decoration: none;
  color: var(--white);
}

.navbar {
  padding: 1.5rem 0;
}

.nav-link a {
  color: var(--grey);
}

.nav-link a[aria-current="page"] {
  color: var(--white);
}

.nav-link a:hover {
  color: var(--white);
  border-bottom: 2px solid var(--yellow);
  padding-bottom: 2px;
}

section,
footer {
  padding: 4rem 0;
}

.icon-credit {
  background-color: var(--light-blue);
  padding: 0.4rem 0;
}

.page-not-found h1 {
  font-size: 300px;
  color: var(--yellow);
  margin-bottom: 0;
}

.page-not-found h2 {
  font-weight: 700;
  padding-bottom: 2rem;
}

.page-not-found .btn {
  font-weight: 700;
  color: var(--dark-blue);
  background-color: var(--yellow);
  border-color: var(--yellow);
  border-radius: 10px;
  margin-top: 1rem;
}

.page-not-found .btn:hover {
  font-weight: 700;
  color: var(--white);
  background-color: var(--darker-blue);
  border-color: var(--darker-blue);
}

section h1 {
  font-weight: 600;
  margin-bottom: 2rem;
}

footer h1 {
  font-size: 4rem;
  text-decoration: underline;
  margin-bottom: 2.5rem;
}

footer .contact-information {
  display: flex;
  justify-content: space-between;
}

footer .social-links > * {
  margin-right: 0.5em;
}

footer p {
  font-size: 1.25rem;
}

footer a {
  margin-right: 2rem;
}

.hero h1 {
  font-size: 5.2rem;
  margin-bottom: 0;
}

.hero p {
  max-width: 35rem;
}

.product-card {
  margin-bottom: 4rem;
}

.product-card .title {
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 0;
  margin-bottom: 0.4rem;
}

.product-card img {
  max-width: 100%;
  filter: brightness(50%);
  transition: 0.5s;
}

.product-card img:hover {
  filter: brightness(100%);
  cursor: pointer;
}

.main-title {
  font-weight: bold;
  font-size: 72px;
}

.clients h3 {
  margin-top: 4rem;
}

.clients img {
  filter: saturate(0);
  display: block;
  margin: 0 auto;
  opacity: 0.35;
  padding: 1rem auto;
  max-width: 100%;
  max-height: 5rem;
}

.about-us,
.about-team {
  background-color: var(--darker-blue);
}

.about-team img,
.about-us img {
  max-width: 100%;
}

.about-team a {
  font-size: 0.85rem;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: var(--white);
}

.arrow-right {
  fill: var(--yellow);
  margin-left: 0.5rem;
}

.about-us h3 {
  text-align: center;
  margin-bottom: 2rem;
}

.principles h1 {
  font-size: 3.6rem;
}

.principles h3 {
  font-weight: bold;
  margin: 1.5rem 0 1rem 0;
}

.principles .number {
  font-size: 0.8rem;
  font-weight: bold;
  padding-bottom: 0.4rem;
  border-bottom: 2px solid var(--yellow);
}

@media (min-width: 768px) {
  .products {
    background: url(../images/products.png);
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    padding: 0 0 5rem 0;
  }

  .about-us h1,
  .about-team h1 {
    position: relative;
    left: -5.5rem;
    margin-top: 12rem;
    margin-bottom: 1rem;
    font-size: 4rem;
  }

  .hero-art {
    background: url(../images/hero-art-full.png);
    background-size: 100%;
    background-repeat: no-repeat;
    transform: rotate(290deg);
    margin: 0 auto;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 3rem;
  }

  .hero-art {
    background: url(../images/hero-art-full.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
    min-height: 30rem;
    z-index: -1;
  }

  .about-us h1,
  .about-team h1 {
    position: relative;
    top: -3.5rem;
    font-size: 4rem;
  }

  .products {
    background: url(../images/products.png);
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    padding: 0 0 5rem 0;
  }

  .main-title {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 0;
  }

  .page-not-found h1 {
    font-size: 60px;
    color: var(--yellow);
    margin-bottom: 0;
  }

  .page-not-found h2 {
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 2rem;
  }

  .page-not-found h6 {
    font-size: 12px;
  }

  .page-not-found .btn {
    font-size: 13px;
  }
}
