@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

body {
  background-color: var(--blue);
  color: var(--white);

  font-family: "Montserrat", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

a,
a:hover,
.navbar-brand {
  text-decoration: none;
  color: var(--white);
}

h1 {
  font-weight: 900;
}

p {
  max-width: 30rem;
}

.navbar {
  padding: 1.5rem 0;
}

.nav-link a {
  color: var(--grey);
}

.nav-link a[aria-current="page"] {
  color: var(--white);
}

.nav-link a:hover {
  color: var(--white);
  border-bottom: 2px solid var(--yellow);
  padding-bottom: 2px;
}

footer {
  background-color: var(--blue);
  padding: 2rem 0;
}

/**
  Add custom CSS here
*/
