@media (min-width: 768px) {
  .page {
    background: url(../images/products.png);
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    padding-bottom: 5rem;
  }
}

@media (max-width: 768px) {
  .page {
    background: url(../images/products.png);
    background-size: cover;
    background-position-y: -100px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    padding-bottom: 5rem;
  }
}
