backend:
  name: git-gateway
  branch: feature/cms

media_folder: static/assets
public_folder: /assets

collections:
  - name: blog
    label: Blog
    folder: src/data/blog
    create: true
    fields:
      - { name: path, label: Path }
      - { name: date, label: Date, widget: datetime }
      - { name: title, label: Title }
      - { name: peek, label: Peek }
      - { name: author, label: Author }
      - { name: body, label: Body, widget: markdown }
