html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: var(--blue);
  color: var(--white);
}

a,
.navbar-brand {
  color: var(--white);
}

p {
  max-width: 30rem;
}

/**
  Add custom CSS here
*/
