:root {
  --white: #ffffff;
  --lighter-blue: #54b0fc;
  --light-blue: #369bff;
  --blue: #186fed;
  --dark-blue: #0a3a99;
  --darker-blue: #001242;
  --orange: #f18f01;
  --yellow: #f9d93d;
  --red: #fb3640;
  --font-family: Monsterrat;
}
